/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/.vs/
/.vscode/
/MemoryCaptures/

# Plugins Folder
/Assets/Plugins
/Assets/Plugins.meta
# Gizmos Folder
/Assets/Gizmos
/Assets/Gizmos.meta
# Light Weight Renderer Pipeline Preview
/Assets/LPPreview
/Assets/LPPreview.meta
# Node Canvas
/Assets/ParadoxNotion
# Behavior Designer
/Assets/Behavior Designer
/Assets/Behavior Designer.meta
/Assets/Behavior Designer Movement
/Assets/Behavior Designer Movement.meta
# Chronos
/Assets/Chronos
/Assets/Chronos.meta
# UMA
/Assets/UMA
/Assets/UMA.meta
# ProCore (for Unity 2017.3)
/Assets/ProCore
/Assets/ProCore.meta
# ProCore (for Unity 2018.1)
/Assets/ProBuilder Data
/Assets/ProBuilder Data.meta
# TextMeshPro
/Assets/TextMesh Pro
/Assets/TextMesh Pro.meta
# Volumetric Lighting
/Assets/Volumetric Lighting
/Assets/Volumetric Lighting.meta
# ShaderForge
/Assets/ShaderForge
/Assets/ShaderForge.meta
# Unity Logs Viewer (See Console Logs in Builds)
/Assets/Unity-Logs-Viewer
/Assets/Unity-Logs-Viewer.meta
# Fungus
/Assets/Fungus
/Assets/Fungus.meta
/Assets/FungusExamples
/Assets/FungusExamples.meta
# StreamingAssets (Ignore Build Files and Other Unnecessary Stuff)
/Assets/StreamingAssets/build_info.txt
/Assets/StreamingAssets/build_info.txt.meta
# Power UI, No Longer Used
/Assets/PowerUI
# Unity Standard Assets and Post Processing
/Assets/PostProcessing
/Assets/PostProcessing.meta
/Assets/Standard Assets
/Assets/Standard Assets.meta
# Tactical Shooter AI, No Longer Used
/Assets/Tactical Shooter AI
# UFPS, No Longer Used
/Assets/UFPS
# Asset Shore Tools
/Assets/AssetStoreTools*
# Third Person Controller
/Assets/Third Person Controller
/Assets/Third Person Controller.meta
/Assets/BackupTPCScripts
# Ultimate Character Controller
/Assets/Opsive
/Assets/Opsive.meta
# Bolt
/Assets/Ludiq
/Assets/Ludiq.meta
/Assets/Ludiq.Generated
/Assets/Ludiq.Generated.meta
# Models Used For Testing
/Assets/ModelsAndAssets
/Assets/ModelsAndAssets.meta
# ORK Framework, No Longer Used
/Assets/_ORK_TPCAI_Backups
/Assets/ORK Framework/DLL
/Assets/ORK Framework/DLL.meta
/Assets/ORK Framework/demo.unitypackage
/Assets/ORK Framework/demo.unitypackage.meta
/Assets/ORK Framework/EditorData.asset
/Assets/ORK Framework/EditorData.asset.meta
/Assets/ORK Framework/gameplay_source_code.zip
/Assets/ORK Framework/gameplay_source_code.zip.meta
/Assets/ORK Framework/README.txt
/Assets/ORK Framework/README.txt.meta

# GitHub SubModule Folders To Ignore
/Assets/UtilitiesAndHelpersForUCC
/Assets/UtilitiesAndHelpersForUCC.meta

# Some AutoGenerated Files
/Assets/_TerrainAutoUpgrade
/Assets/_TerrainAutoUpgrade.meta
/Logs/
UpgradeLog.htm
.idea/
.idea/.idea.UCCAIProto/

# Map Data Used Inside My RTS Framework
/Assets/Tactical Prototyping/Maps/RTSMainMenu
/Assets/Tactical Prototyping/Maps/Lvl 1-Training
/Assets/Tactical Prototyping/Maps/TPS Demo Map
/Assets/Tactical Prototyping/Maps/SandLevel1
/Assets/Tactical Prototyping/Maps/SandLevelPolyBrush
/Assets/Tactical Prototyping/Maps/SandLevelPolyBrushSmall
/Assets/Tactical Prototyping/Maps/RTSAdventure

# Newer UCC Maps
/Assets/Tactical Prototyping/Maps/NewUCCMaps/Lvl 1-Training UCC
/Assets/Tactical Prototyping/Maps/NewUCCMaps/SandLevel1UCC
/Assets/Tactical Prototyping/Maps/SampleScene

# Ignore Terrain Data Generated
/Assets/Tactical Prototyping/Maps/Terrains/TerrainData*

# No Longer Used
/Assets/Tactical Prototyping/Maps/0 RTSMainMenu
/Assets/Tactical Prototyping/Maps/1 RTSProtoMap
/Assets/Tactical Prototyping/Maps/0 Main Menu
/Assets/Tactical Prototyping/Maps/1 Town
/Assets/Tactical Prototyping/Maps/2 Field
/Assets/Tactical Prototyping/Maps/3 Game Over
/Assets/Tactical Prototyping/Maps/4 Battle Arena

# Autogenerated VS/MD solution and project files
ExportedObj/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Unity3D generated meta files
*.pidb.meta

# Unity3D Generated File On Crash Reports
sysinfo.txt

# Builds
*.apk
*.unitypackage

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
